<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :user_email %>
    <%= form.text_field :user_email %>
  </div>

  <div class="field">
    <%= form.label :user_phone %>
    <%= form.text_field :user_phone %>
  </div>

  <div class="field">
    <%= form.label :user_address_line1 %>
    <%= form.text_field :user_address_line1 %>
  </div>

  <div class="field">
    <%= form.label :user_address_line2 %>
    <%= form.text_field :user_address_line2 %>
  </div>

  <div class="field">
    <%= form.label :user_city %>
    <%= form.text_field :user_city %>
  </div>

  <div class="field">
    <%= form.label :user_state %>
    <%= form.text_field :user_state %>
  </div>

  <div class="field">
    <%= form.label :user_zipcode %>
    <%= form.number_field :user_zipcode %>
  </div>

  <div class="field">
    <%= form.label :user_country %>
    <%= form.text_field :user_country %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
