<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :userID %>
    <%= form.number_field :userID %>
  </div>

  <div class="field">
    <%= form.label :userName %>
    <%= form.text_field :userName %>
  </div>

  <div class="field">
    <%= form.label :userEmail %>
    <%= form.text_field :userEmail %>
  </div>

  <div class="field">
    <%= form.label :userPhone %>
    <%= form.text_field :userPhone %>
  </div>

  <div class="field">
    <%= form.label :userIP %>
    <%= form.text_field :userIP %>
  </div>

  <div class="field">
    <%= form.label :userLocation %>
    <%= form.text_field :userLocation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
