<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Contactid</th>
      <th>Contactname</th>
      <th>Contactemail</th>
      <th>Contactphone</th>
      <th>Contactrelation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.userID %></td>
        <td><%= contact.contactID %></td>
        <td><%= contact.contactName %></td>
        <td><%= contact.contactEmail %></td>
        <td><%= contact.contactPhone %></td>
        <td><%= contact.contactRelation %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
