<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :contact_name %>
  </div>

  <div class="field">
    <%= form.label :EMail %>
    <%= form.text_field :contact_email %>
  </div>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.text_field :contact_phone %>
  </div>

  <div class="field">
    <%= form.label :Relation %>
    <%= form.text_field :contact_relation %>
  </div>

  
  <div class="field">
    <%= form.label :User %>
    <%= form.number_field :user_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
