<p id="notice"><%= notice %></p>

<p>
  <strong>Contactid:</strong>
  <%= @alert.contactID %>
</p>

<p>
  <strong>Message:</strong>
  <%= @alert.message %>
</p>

<p>
  <strong>Timer:</strong>
  <%= @alert.timer %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
